@charset "UTF-8";
/* Sistema desarrollado por Daniel Dinamarca Tosso - 2016 */
/*
Aqui definir colores corporativos

Negro: rgb(37,39,41)
Amarillo: rgb(255,221,0)
Amarillo-oscuro(login-button:hover): rgb(150,120,0)
Gris (letra menu-principal): rgb(155, 162, 174)
Blanco (Background principal): rgba(200,200,200,0.7)
*/

/* Begin: Neutrality Principle Section */
*,:after,:before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 29px;
    color: inherit;
}

body,ul,li,a,p,input,footer,h1,h2,table,tr,td,th,html,form,label,textarea{
    font-family: "Times New Roman", 'Times', 'serif';
    font-size:16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
}
@-moz-document url-prefix() {
    body,ul,li,a,p,input,footer,h1,h2,table,tr,td,th,html,form,label,textarea{
        letter-spacing: -0.1px;
    }
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, h1, form, label,textarea {
    display: block;
}
ul{
    list-style-type: square;
    list-style-position: inside;
}
li{
    line-height: 24px;
}
/* End: Neutrality Principle Section */
input{
    font-weight: 400;
}
header{
    top:0px;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgb(37,39,41);
}
body{
    width:100%;
    background: rgba(200,200,200,0.7);
}
.hidden{
    display: none;
}
#header-grid{
    display: block;
    width: 1240px;
    height: 70px;
    margin: 0px auto;
    font-size: 0px;
}
#header-grid > div{
    display: inline-block;
    vertical-align: middle;
}
#header-grid > div:first-child{
    height:64px;
    width: 277px;
}
#header-grid > div:first-child > a{
    height:inherit;
}

#header-grid > div:first-child > a > img{
    height:inherit;
}

#header-grid > div:nth-child(2){
    width:20px;
    height:70px;
}

#header-grid >  div:nth-child(3){
    width:892px;
}

#header-grid >  div:nth-child(4){
    width:50px;
    height:30px;
}

#top-menu{
    background-color: inherit;
    height:26px;
}

#top-menu > div{
    top:0px;
    padding-top:0px;
    margin-top: 0px;
}
span.menu{
    display: none;
}
#login-button{
    font-size: 10px;
    background-color: rgb(255,221,0);
    letter-spacing: 1px;
    color: rgb(37,39,41);
    width: inherit;
    height: inherit;
    transition: 0.6s;
}

#login-button:hover{
    background: rgb(150,120,0);
    transition: 0.6s;
    cursor: pointer;
}
#botones-menu-principal > li > a::after{
    width: 0;
    height:15%;
    content: "";
    display: flex;
    background-color: inherit;
}
#botones-menu-principal > li.actual > a::after{
    width: inherit;
    height:15%;
    content: "";
    display: flex;
    background-color: rgb(255,221,0);
}
#botones-menu-principal > li{
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: rgb(155, 162, 174);
    height: 26px;
    font-size: 18px;
    background-color: inherit;
    padding: 0px 15px;
}

#botones-menu-principal > li.no-actual:hover{
    transition: 1s;
    color: rgb(37,39,41);
    background-color: rgb(255,221,0);
}
#botones-menu-principal > li.actual:hover{
    transition: 1s;
    color: rgb(37,39,41);
    background-color: rgb(255,221,0);
}

#botones-menu-principal > li > a{
    color: inherit;
    font-weight: 400;
    font-size:15px;
    text-decoration: none;
    display: block;
    width: 100px;
}

#botones-menu-principal > li > a:active{
    color:#777777;
}
#botones-menu-principal > li > ul{
    display: none;
    position: absolute;
    width: inherit;
    opacity: 0;
}
#botones-menu-principal > li:hover > ul{
    display: block;
    opacity: 1;
    z-index: 1;
}
#botones-menu-principal > li > ul > li{
    position: relative;
    right: 15px;
    top: 15px;
    cursor: pointer;
    list-style-type: none;
    background: rgb(37,39,41);
    padding: 5px 15px;
    color: rgb(155, 162, 174);
    width: 200px;
}
#botones-menu-principal > li > ul > li > a{
    text-decoration: none;
}
#botones-menu-principal > li > ul > li > a:visited{
    text-decoration: none;
    color: rgb(155, 162, 174);
}
#botones-menu-principal > li > ul > li:hover{
    transition: 1s;
    background-color: rgb(255,221,0);
}
#botones-menu-principal > li > ul > li:hover > a{
    color: rgb(37,39,41);
}

#modal-form{
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left: 0px;
}
#modal-form > div{
    position:relative;
    top:20%;
    width:400px;
    height:100%;
    margin: 0 auto;
}
#modal-form > div > form > div > h2{
    font-weight: 600;
    color: rgb(50,82,99);
}
#modal-form > div > form > div > button{
    cursor: pointer;
}
#modal-form > div > form > div > input{
    border: 1px solid black;
    margin: 1px;
    padding-left: 5px;
}

#consultas{
    display: inline-block;
    margin: 0 auto;
    width: 98%;
    background: inherit;
}

#alertas{
    background: inherit;
}
#graficos{
    background: inherit;
}
#contenido{
    padding:0px;
    position:relative;
    margin:0px;
    width: 100%;
    min-width: 1280px;
    min-height: 560px;
    margin-bottom: 10px;
}

#contenido > section{
    position:relative;
}
.grid-content{
    display: block;
    margin: 0px auto 0px auto;
}
.grid-content > h1{
    text-align: center;
    width:100%;
    height:46px;
    color: rgb(35, 35, 35);
    padding:0px 0;
    font-size: 30px;
    margin: 35px auto 5px auto;
}

.grid-content > section{
    width: 1280px;
    min-height: 100px;
    display: block;
    font-size: 16px;
    margin: 10px auto 0px auto;
}
.grid-content > div{
    width: 1280px;
    min-height: 100px;
    display: block;
    font-size: 16px;
    margin: 0px auto 0px auto;
}
.grid-content > div:nth-of-type(1) > div:first-child > h2{
    text-align: left;
    width:100%;
    height:46px;
    color: rgb(35, 35, 35);
    padding:0px 0;
    font-size: 22px;
    margin: 0px auto 0px auto;
}
/* Menu Drop Down - Boton 1 - Boton 2*/
.grid-content > div:nth-of-type(1) > div:nth-child(2){
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}
/* Menu Drop Down */
.grid-content > div:nth-of-type(1) > div:nth-child(2) > div:first-child{
    margin-right: 50px;
}
.grid-content > div:nth-of-type(1) > div:nth-child(2) > div:first-child > select{
    font-size: 14px;
    cursor: pointer;
    transition: 0.6s;
}
.grid-content > div:nth-of-type(1) > div:nth-child(2) > div:first-child > select:hover{
    transition: 0.6s;
    background: rgb(155, 162, 174);
}
/* Boton de la izquierda */
.grid-content > div:nth-of-type(1) > div:nth-child(2) > div:nth-child(2){
    margin-right: 180px;
}
.big-row{
    background: rgb(200,200,200);
    text-align: center;
    height: auto;
    width: 100%;
    padding: 10px 20px;
    margin: 0px auto;
}
.big-row h2{
    font-size: 19px;
    font-weight: 700;
}
.big-row > div{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0px 40px;
    padding: 5px 10px;
}
.left-col{
    display: inline-block;
    text-align: left;
    width: 420px;
}
.left-col > h2 > span{
    font-size: 15px;
    font-weight: 500;
}
.left-col2{
    width: 1000px;
}
.lefty{
    text-align: left;
}
.lefty > div{
    margin-right: 120px;

}
.righty{
    text-align: right;
}
.righty > div{
    margin-left: 120px;
}
.right-col{
    width: 630px;
    text-align: center;
    height: auto;
    padding: 5px 20px;
    margin: 0 auto;
}
.right-col > div{
    background: rgb(160,160,160);
    width: 303px;
    height: 215px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}
.right-col > div > h3{
}
.right-col > div > form{
    display: block;
    vertical-align: middle;
    text-align: left;
}

.right-col > div > form > div > input{
    width: 280px;
    padding-left: 8px;
}

.wrap-botones-fila{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1260px;
    margin: 0 auto;
}

.grid-botones-fila{
    width: 1250px;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.boton-cargar{
    align-self:flex-start;
    border: 1px solid black;
    width: 252px;
    height: 116px;
    margin: 0 auto;
    background: rgb(255,221,0);
}
.boton-cargar > form{
    width: 240px;
}
.contrato{
    margin-top: 24px;
    margin-bottom: -27px;
}
label.contrato:hover{
    transition: 0s !important;
    background: rgb(255,221,0) !important;
}
.boton-cargar > form > label{
    display: block;
    position: relative;
    padding: 0px 4px;
    transition: 0.6s;
    z-index: 45;
    bottom: 29px;
}
.boton-cargar > form > label:hover{
    transition: 0.6s;
    background: rgb(150,120,0);
}
.inputfile {
    opacity: 1;
    overflow: hidden;
    display: block;
    position: relative;
    left: 84px;
    z-index: 1;
}
.u-button{
    cursor: pointer;
    position: relative;
    display: block;
    bottom: 29px;
    padding: 4px 6px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
    transition: 0.6;
}
.u-button:hover{
    transition: 0.6s;
    background: rgb(150,120,0);
}
.inputfile + label{
    font-size: 0.95rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background: rgb(255,221,0);
}
.boton-cargar > form > label > img{
    width: 22px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.boton-cargar > form > label > span{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 100%;
  background: url("../../img/to-top-white.svg") no-repeat 0px 0px;
  z-index: 101;
}

.c-activado {
    top: 70px;
    opacity: 1;
    transition: 0.4s;
}
.c-desactivado{
    top:-100px;
    opacity: 0;
    transition: 0.4s;
}
.tabla1{
    display: block;
    margin: 0 auto;
    background: inherit;
}
.anim-out{
    opacity: 0;
    transition: 0.6s;
}
.anim-in{
    opacity: 1;
    transition: 0.6s;
}
#contenido-query{
    width: 1244px;
    display: block;
    padding: 6px 4px;
    margin: 0px auto 0px auto;

}
#resultado-query{
    display: block;
    margin: 0px auto 0px auto;
}
.wrap-table{
    display:inline-block;
    margin: 0 5px 0 5px;
    width: 49%;
}
.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableRow > div:nth-of-type(1){
    width:8%;
}
.rTableRow > div:nth-of-type(2){
    width: 16%;
}
.rTableRow > div:nth-of-type(3){
    width: 41%;
}
.rTableRow > div:nth-of-type(4){
    width: 20%;
}
.rTableRow > div:nth-of-type(5){
    width: 15%;
}
.prewarning{
    background: orange;
}
.warning{
    background: rgb(238,117,117) !important;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: 900;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
    color: black;
}
.rTableHeading {
    display: table-header-group;
    background-color: rgb(112,112,116);
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}
.ctrl-costo-results{
    background: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%
}
.results{
    border: 1px solid black;
    display: block;
    background: rgb(120, 145, 160);
    padding: 4px 6px;
    margin: 2px auto;
    width: 98%;
    font-size: 18px;
}
.resumen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    padding: 8px 6px;
    margin: 0 auto;
    width: 98%;
}
.titulo-resumen > h3{
    background: inherit;
    margin: 0 auto;
    text-align: center;
}
.cantoc{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background: inherit;
    margin: 0 auto;
    width: 48%;
}
.cantoc > p{
    text-align: center;
}
.cantoc > p > span{
    font-weight: 900;
}
.promedio{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background: inherit;
    margin: 0 auto;
    width: 48%;
}
.promedio > p{
    text-align: center;
}
.promedio > p > span{
    font-weight: 900;
}
.left-result{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    padding: 8px 6px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(0,89,133);
    text-align: center;
}

.right-result{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    padding: 8px 6px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(0,89,133);
    text-align: center;
}

.ctrl-costo-results > div:nth-child(2) > div:nth-child(2) > div:first-child{
    border-bottom: 1px;
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    border-bottom: 1px;
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(2) > div:first-child > div:first-child > p{
    font-weight: 700;
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:first-child > p{
    font-weight: 700;
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(3) > div:first-child > p > span{
    font-weight: 700;
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(3) > div:first-child{
    border: 1px solid rgb(0,89,133);
}
.ctrl-costo-results > div:nth-child(2) > div:nth-child(3) > div:nth-child(2)> p > span{
    font-weight: 700;
}
.modal-hidden{
    opacity: 0;
}
.fadeout-modal{
    transition: 0.4s;
    opacity: 0;
}
#modal-section{
    position:fixed;
    z-index: 100;
    width:100%;
    height:100%;
    top:0px;
    left: 0px;
    background: rgba(200,200,200,0.7);
}
#modal-div{
    position:relative;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.boton-cerrar{
    position:absolute;
    z-index: 200;
    width: 30px;
    height: 30px;
    top:-12px;
    right:-12px;
    cursor: pointer;
}
#modal-content{
    width: 100%;
    padding: 30px;
    background: rgb(244,244,244);
}

#modal-content > div:first-child{
    width: 389px;
    height: 550px;
    display: inline-block;
    vertical-align: top;
}
.wrap-consulta{
    height: 29px;
}
.wrap-consulta > div{
    display: block;
    margin: auto;
}
